<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkMRhZ2HMuCP6lzRD1s0ig7cR_xx2AuRo</string>
	<key>GCM_SENDER_ID</key>
	<string>954812701283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.buzzMe.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>buzzme-50377</string>
	<key>STORAGE_BUCKET</key>
	<string>buzzme-50377.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954812701283:ios:4b375d3495b88241453656</string>
</dict>
</plist>